<div
    #linesContainer
    class="lines-container"
>
    <div
        *ngFor="let entry of log.entries; let i = index;"
        class="line"
    >
        <div class="current-step-marker">
            <span
                #currentStepMarker
                *ngIf="flashLogPlayback.currEntryIndex == i && flashLogPlayback.isPlayingBack"
            >-></span>
        </div>
        <div
            class="message"
            [class.no-click]="!flashLogPlayback.isPlayingBack"
            [style.color]="lineColor(entry)"
            (click)="flashLogPlayback.jumpToEntry(i)"
        >{{entry.message}}</div>
    </div>
</div>
